<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Angular JS and Dojo</title>
    <link rel="stylesheet" href="http://js.arcgis.com/3.8/js/dojo/dijit/themes/claro/claro.css">
    <link rel="stylesheet" href="http://js.arcgis.com/3.8/js/esri/css/esri.css" />
    <link rel="stylesheet" href="styles/indexStyle.css" />
    <link rel="stylesheet" href="widgets/css/agsjs.css" />
    <link rel="stylesheet" href="styles/jquery.contextmenu.css" />
</head>
<body ng-controller="MapCtrl" class="claro">
    <header>
        <nav id="tools">
            <button ng-click="clickCapas()">Capas</button>
            <button ng-click="startGraticule()">Graticule Start</button>
            <button ng-click="stopGraticule()">Graticule Stop</button>
        </nav>
        <img id="logo" alt="Logo COPAPEP" src="media/images/copapep_icon.png" />
    </header>
    <section id="mapSection">
        <esri-map id="map" center="-101, 24" zoom="5" basemap="satellite">
            <esri-feature-layer url="http://192.168.105.102/copapep/rest/services/SIGAPP/SIGAPP/MapServer/0" layerid="ProyAmb"></esri-feature-layer>
            <esri-dynamic-layer url="http://192.168.105.102/copapep/rest/services/MAPASBASE/DIVISION_POLITICA/MapServer" layerid="DivPol"></esri-dynamic-layer>
            <esri-navigator id="navigator"></esri-navigator>
            <esri-scalebar attachTo="bottom-left" scalebarunit="metric"/>
            <map-loader message="Espere por favor..."></map-loader>
            <esri-overview attachTo="bottom-right"/>
            <esri-graticule></esri-graticule>
            <div id="legendContainer" ng-class="legendClass">
                <esri-legend id="legend" data-legendVisible="true" layers="DivPol ProyAmb"></esri-legend>
            </div>
        </esri-map>
    </section>
    <script src="scripts/jquery-2.1.0.js"></script>
    <script src="scripts/jquery.contextmenu.js"></script>
    <!-- Carga el API de Angular y de ArcGIS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="http://js.arcgis.com/3.8/"></script>
    <!-- Carga el archivo de configuración -->
    <script src="scripts/setup.js" type="text/javascript"></script>
    <!-- Empieza a cargar la aplicación -->
    <script src="scripts/init.js" type="text/javascript"></script>
</body>
</html>
